Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="task"  minOccurs="0" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="text" type="xs:string" minOccurs="1"/>
							
						</xs:sequence>
						<xs:attribute name="id" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
